<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>corn console</title>
    <link rel="stylesheet" href="/assets/adminlte.min.css" />
  </head>
  <body>
    <header>
      <h1>corn 管理後台</h1>
      <nav>
        <a href="/cornbe">Dashboard</a> | <a href="/cornbe/jobs">Jobs</a> |
        <a href="/cornbe/markdown">Markdown</a>
      </nav>
    </header>
    <main id="app-content">
      <!-- content-slot -->
    </main>
  </body>
</html>
